html {
  min-height: 100%;
}
body {
  background: #dee2e6;
  color: #495057;
  font: 14px/1.5 "Raleway", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

/* Navbar */
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #e9ecef;
  font-size: 18px;
  font-variant-caps: small-caps;
  font-weight: 500;
  letter-spacing: .1em;
}

.navbar-default {
  background-color: rgba(0,0,0,0.0);
  border: none;
  transition: .5s ease-in,
              .5s ease-out;
}

.navbar-default.opaque {
  background-color: rgba(33, 37, 41, 0.8);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e9ecef;
}

.navbar-default .navbar-collapse {
  border: none;
}
/* Splash/Banner */

#banner {
  background-attachment: fixed;
	background-color: #666;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/splash.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	color: #e9ecef;
  height: 500px;
  padding: 5em 0 5em 0;
	text-align: center;
}

#banner h1 {
  font-size: 3em;
  font-weight: 400;
}

#banner p {
  font-size: 1.2em;
  padding-bottom: 2rem;
}

#banner p>a {
  color: #e9ecef;
  border-bottom: 1.5px solid #e9ecef;
}

#banner p>a:hover {
  border-bottom: none;
  text-decoration: none;
}
.btn-splash {
  background: transparent;
  border-width: 1.5px;
  color: #e9ecef;
  height: 75px;
  width: 225px;
  line-height: 75px;
  box-sizing: border-box;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  transition: .2s ease-in,
              .2s ease-out;
}

.btn-splash:hover {
  background: rgba(255,255,255,0.1);
  color: #e9ecef;
}

/* Section tweaks */

#about {
  margin-top: -6em;
}

#about .page-header {
  margin-top: 0;
}

#about .page-header h1 {
  margin-top: 0;
}

#projects {
  margin-top: 1em;
}
.thumbnail {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  background: #E7A286;
  color: #e9ecef;
  padding: 2em;
  margin-top: 1em;
}

.contact-form {
  float:none;
  margin: 0 auto;
}

.contact-form .form-control {
  background: #eaaf96;
  border: none;
  box-shadow: none;
  color: #e9ecef;
}

.contact-form input:focus, .contact-form textarea:focus {
  border: 1.5px solid #fff;
}

.contact-form .form-control::-webkit-input-placeholder {
  color: #e9ecef;
}
.contact-form .form-control::-moz-placeholder {
  color: #e9ecef;
}
.contact-form .form-control:-ms-input-placeholder {
  color: #e9ecef;
}
.contact-form .form-control:-moz-placeholder {
  color: #e9ecef;
}

.contact-form .btn-default {
  color: #E7A286;
  border: none;
}
.main-footer {
  height: 200px;
  padding: 4em;
}

.main-footer a {
  color: #adb5bd;
}

.main-footer a:hover {
  color: #868e96;
}

.footer-link {
  float:none;
  margin: 0 auto;
}

.footer-icon {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Misc */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.page-header {
  border-bottom: none;
}

.thumbnail {
  border-radius: 3px;
  border: none;
  -moz-box-shadow:    0 1px 3px 0 #ccc;
  -webkit-box-shadow: 0 1px 3px 0 #ccc;
  box-shadow:         0 1px 3px 0 #ccc;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.page-section {
  background: #f1f3f5;
  border-radius: 3px;
  -moz-box-shadow:    0 1px 3px 0 #ccc;
  -webkit-box-shadow: 0 1px 3px 0 #ccc;
  box-shadow:         0 1px 3px 0 #ccc;
  overflow: hidden;
  padding: 2em;
  margin-top: 1em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* Media Queries for Responsive Type */

@media (min-width: 544px) {  
  html {font-size:14px;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  html {font-size:16px;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  html {font-size:18px;} /*1rem = 16px*/

  #banner {
  height: 100vh;
  padding: 20em 0 10em 0;
  }
}